/* mediaqueries.css */

/* Mobile Styles */
@media (max-width: 768px) {
  nav#desktop-nav {
    display: none;
  }

  nav#hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1rem;
  }

  section {
    margin: 0 2rem;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .section__pic-container,
  .about-pic {
    width: 100%;
    height: auto;
  }

  .details-container {
    margin-bottom: 1rem;
  }

  .experience-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .skills-details-container {
    grid-template-columns: 1fr;
  }

  .icon.arrow {
    right: 1rem;
  }

  footer {
    height: auto;
    padding: 1rem 0;
  }
}